<!DOCTYPE html>
<html ng-app='myApp'>
<head>
<title>Register</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
    <!-- angular and jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-route.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- controllers and factories -->
        
    <script type="text/javascript" src="/javascript/routes/routes.js"></script>
    <script type="text/javascript" src="/javascript/factories/user_factory.js"></script>
    <script type="text/javascript" src="/javascript/controllers/users_controller.js"></script>
</head>
<body id='reg' ng-controller="UsersController">
    <div class='container'>
        <div class= 'text-center'>
            <h1 class='col-sm-12'>Discover dispensaries. Reserve strains. In store pickup.</h1>
        </div>
    	<div class= 'row'>
    		<div class= 'text-center'>
      			<h2 class='col-sm-12'>Register</h2>
    		</div>
    	</div>
      	<form class='form-horizontal' role='form' name='create_user' novalidate>
      		<!-- first name -->
        	<div class='form-group'>
          		<label class='control-label col-sm-4' for='first_name'></label>
          		<div class='col-sm-4'>
            		<input type='text' class='form-control' placeholder='First Name' ng-model='newUser.first_name' ng-required="true">
          		</div>
        	</div>
        	<!-- last name -->
        	<div class='form-group'>
          		<label class='control-label col-sm-4' for='last_name'></label>
          		<div class='col-sm-4'>
            		<input type='text' class='form-control' placeholder='Last Name' ng-model='newUser.last_name' ng-required="true">
          		</div>
        	</div>
        	<!-- email -->
        	<div class='form-group'>
          		<label class='control-label col-sm-4' for='email'></label>
          		<div class='col-sm-4'>
            		<input type='email' class='form-control' placeholder='Email' ng-model='newUser.email' ng-required="true">
          		</div>
        	</div>
        	<!-- password -->
        	<div class='form-group'>
          		<label class='control-label col-sm-4' for='password'></label>
          		<div class='col-sm-4'>          
            		<input type='password' class='form-control' placeholder='Password' ng-model='newUser.password' ng-required="true">
          		</div>
        	</div>
        	<!-- confirm password -->
        	<div class='form-group'>
          		<label class='control-label col-sm-4' for='confirm_password'></label>
          		<div class='col-sm-4'>          
            		<input type='password' class='form-control' placeholder='Confirm Password' ng-required="true">
          		</div>
        	</div>
        	<!-- submit button -->
        	<div class='form-group'>        
          		<div class='col-md-offset-4 col-md-1'>
            		<input type='submit' class='btn btn-info' id='button1' value='Register' ng-click="addUser(newUser)" ng-disabled="create_user.$invalid">
                </div>
          <!-- cancel button -->
                <div class='col-md-offset-1 col-md-1'>
                    <button class='btn btn-info' id='button2'><a href='/'>Cancel</a></button>
                </div>
            </div>
        </form>
          <div class='validation'>
                <h5 ng-if="create_user.$invalid">All fields are required</h5>
                <h5 ng-if="create_user.$invalid">Passwords must match</h5>
          </div>
    </div>
</body>
</html>
